html, body {
    background-image: linear-gradient(#ffc0cb, #f8bac5);
    background-color: #ffc0cb;
    margin: 0;
    padding: 0;
  }

* {
    box-sizing: border-box;
}

h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}

p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
}


img {
    object-fit: cover;
    border-radius: 50px;
}

#object-container {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
}

#left-container {
    height: auto;
    width: 50%;
}

#right-container {
    height: auto;
    width: 50%;
}

.photocard-left {
    height: 600px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 600px;
}

.photocard-right {
    height: 600px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 650px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .photocard-left:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .photocard-right:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-image: linear-gradient(#ff7d7d, #f8bac5);
    border-radius: 50px;
    align-content: center;
    color: white;
    transform: rotateY(180deg);
  }
